streamlit
fastapi
uvicorn
requests
pandas
folium
streamlit-folium
plotly
joblib
scikit-learn
xgboost
nltk
numpy
pydantic
uvicorn[standard]
sqlalchemy
psycopg2
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
alembic
bcrypt==4.0.1
python-multipart
