fastapi
uvicorn
requests
pandas
folium
streamlit-folium
plotly
joblib
scikit-learn
xgboost
numpy
nltk
pydantic
sqlalchemy
python-jose
passlib
python-dotenv
bcrypt==4.0.1
python-multipart
aiosqlite
streamlit
